

@font-face {
    font-family: 'GochiHand';
    src: url('../assets/fonts/GochiHand/GochiHand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  .propositional-logic-container {
    background: transparent;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .settings-button,
  .start-button, 
  .down-arrow-button, 
  .stop-arrow-button {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border: none;
    background: rgb(36, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .settings-button:hover, 
  .start-button:hover, 
  .down-arrow-button:hover, 
  .stop-arrow-button:hover {
    background: rgb(71, 71, 71);
  }
  
  .left-side {
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 50%;
    background: white;
    max-height: calc(100% - 100px);
    overflow-y: scroll;
    font-family: 'GochiHand', sans-serif;
    font-size: 21px;
  }
  
  .left-side::-webkit-scrollbar {
    width: 0px;  
    height: 0px;
  }
  
  .notebook-line input {
    font-family: 'GochiHand', sans-serif;
    font-size: 19px;
  }
  
  .right-top-side,
  .right-bottom-side {
    position: absolute;
    left: 50%;
    height: 50%;
    width: 50%;
  }
  
  .right-top-side {
    top: 100px;
    background: blue;
  }
  
  .right-bottom-side {
    top: calc(100px + 50%);
    background: orange;
  }
  
  .notebook-line {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .line-id {
    width: 30px;
    text-align: right;
    margin-right: 10px;
    color: #888;
  }
  
  input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-family: monospace;
    font-size: 14px;
  }
  
  input:focus {
    border-bottom: 1px solid #007acc;
  }
  