/*
@font-face {
    font-family: 'PlayWrite Wallon';
    src: url('../assets/fonts/PlayWrite/PlaywriteBEWAL-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NablaFont';
    src: url('../assets/fonts/Nabla/Nabla-Regular-VariableFont_EDPT,EHLT.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GochiHand';
    src: url('../assets/fonts/GochiHand/GochiHand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'CaveatBrush';
    src: url('../assets/fonts/CaveatBrush/CaveatBrush-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

.header-container {
    position: absolute;
    left: 200px;
    top: 0;
    transform: translate(-50%,50);
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 10px 10px 10px 10px;
    z-index: 2;
}

.title {
    position: absolute;
    font-family: 'CaveatBrush', sans-serif;
    font-size: 60px;
    font-weight: 500;    
    color: rgb(0, 0, 0);
}

@media (max-width: 844px) {
    .header-container {
        left: 85px;
    }
}