.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    place-items: center; 
    
    /*
    this was part of the code but 
    this add scrollable properties
    margin-inline: 1.5rem;
    padding-block: 5rem;  */
    overflow-x: auto;    
}
  