/*
  .proofbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: center;
  border: 1px solid #ccc;
}
  
.premisebox {
  border-bottom: 2px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end
}
  
.formulainput {
  width: 5em
}

.ruleselector { width: 100% }

.formulabox {
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  color: #000;
  padding: 0.2em;
}

.formulabox:hover {
  background-color: #bbb;
}

.initialformulaentry {
  width: 30em
}

.assumptionbox {
  border-radius: 0.4em 0.4em 0 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-left: 0.5em; margin-right: 0.5em
}

.assumption {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.2em;
  color: #555;
  font-style: italic;
  padding-left: 0.5em
}

.rulename {
  white-space: nowrap;
  font-size: 75%; color: #333; align-self: flex-end;
}

.worksheet {
  display: flex;
  align-items: flex-end; width: 100%; height: 90%; justify-content: center
}

*/

/* --------------------------------------------------------------------------------------------------- */

/*
.proofbox {
  font-family: monospace;
  text-align: center;
  padding: 10px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.proof-step {
  margin-bottom: 10px;
}

.statement {
  font-size: 1.2em;
  color: red;
  font-weight: 'bold';
  margin: '0 20px'
}

.rule-line {
  border-bottom: 1px solid black;
  width: 100%;
  margin: auto;
}

.rule {
  font-style: italic;
  color: gray;
  font-style: 'italic';
}
*/

/* ---------------------------------- */


.left-side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: red;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 50px);
  width: 100vw;
  background: transparent;
}

.change-screen {
  position: absolute;
  top: calc(100vh - 50px);;
  left: 0;
  height:50px;
  width: 100vw;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.screen-1-bttn,
.screen-2-bttn {
  width: 105px;
  height: 10px !important;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.35);
  line-height: 1;
}

.expression-input.hidden {
  display: none;
}

.expression-input.show,
.rule-input {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a; 
  color: white;
  cursor: pointer; 
  transition: border-color 0.25s;
  text-align: center;
}

.expression-input.show {
  top: 100px;
}

.rule-input {
  top: 150px;
  width:290px;
}

.expression-input.show:hover,
.rule-input:hover {
  border-color: #646cff;
}

.expression-input.show:focus,
.expression-input.show:focus-visible,
.rule-input:focus,
.rule-input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.expression-input.show:focus,
.rule-input:focus {
  background-color: #1a1a1a;
  outline: none;
}

.left-side-bar.collapsed,
.add-node-bttn.hidden {
  display: none; 
}

.add-node-bttn.show {
  position: absolute;
  top: 200px;
  left: 39.5%;
  transform: translate(-50%, -50%);
}

.fetch-data-bttn {
  position: absolute;
  top: 200px;
  left: 60%;
  transform: translate(-50%, -50%);
}

.render-tree-container {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
}