/*
  .proofbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: center;
  border: 1px solid #ccc;
}
  
.premisebox {
  border-bottom: 2px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end
}
  
.formulainput {
  width: 5em
}

.ruleselector { width: 100% }

.formulabox {
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  color: #000;
  padding: 0.2em;
}

.formulabox:hover {
  background-color: #bbb;
}

.initialformulaentry {
  width: 30em
}

.assumptionbox {
  border-radius: 0.4em 0.4em 0 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-left: 0.5em; margin-right: 0.5em
}

.assumption {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.2em;
  color: #555;
  font-style: italic;
  padding-left: 0.5em
}

.rulename {
  white-space: nowrap;
  font-size: 75%; color: #333; align-self: flex-end;
}

.worksheet {
  display: flex;
  align-items: flex-end; width: 100%; height: 90%; justify-content: center
}

*/

/* --------------------------------------------------------------------------------------------------- */

/*
.proofbox {
  font-family: monospace;
  text-align: center;
  padding: 10px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.proof-step {
  margin-bottom: 10px;
}

.statement {
  font-size: 1.2em;
  color: red;
  font-weight: 'bold';
  margin: '0 20px'
}

.rule-line {
  border-bottom: 1px solid black;
  width: 100%;
  margin: auto;
}

.rule {
  font-style: italic;
  color: gray;
  font-style: 'italic';
}
*/

/* ---------------------------------- */

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 50px);
  width: 100vw;
  background: transparent;
}

.change-screen {
  position: absolute;
  top: calc(100vh - 50px);;
  left: 0;
  height:50px;
  width: 100vw;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.screen-1-bttn,
.screen-2-bttn {
  width: 105px;
  height: 10px !important;
  padding: 0;
  border: none;
  background: rgb(194, 205, 215);
  line-height: 1;
}

.expression-input,
.rule-input {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a; 
  color: white;
  cursor: pointer; 
  transition: border-color 0.25s;
  text-align: center;
}

.expression-input.hidden {
  position: absolute;
  top: 30px;
  background-color: red;
}

.expression-input.show {
  top: 30px;
}

.rule-input {
  top: 80px;
  width:290px;
}

.expression-input.show:hover,
.rule-input:hover {
  border-color: #646cff;
}

.expression-input.show:focus,
.expression-input.show:focus-visible,
.rule-input:focus,
.rule-input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.expression-input.show:focus,
.rule-input:focus {
  background-color: #1a1a1a;
  outline: none;
}

.reset-bttn {
  position: absolute;
  top: 30px;
  left: 3%;
  transform: translate(-50%, -50%);
}

.add-node-bttn.show {
  position: absolute;
  top: 30px;
  left: 9.5%;
  transform: translate(-50%, -50%);
}

.add-node-bttn.hidden {
  position: absolute;
  top: 30px;
  left: 9.5%;
  transform: translate(-50%, -50%);
  background: red;  
}


.apply-rule-bttn {
  position: absolute;
  top: 30px;
  left: 17.1%;
  transform: translate(-50%, -50%);
}

.render-tree-container {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
}

.upload-file-bttn {
  position: absolute;
  top: 30px;
  left: 25.4%;
  transform: translate(-50%, -50%);
  min-width: 140px;
  max-width: 150px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.drop-area {
  position: absolute;
  top: 43px;
  left: 21.28%;
  border: 2px dashed #aaa;
  padding: 15px;
  margin: 20px 0;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 100px;
}

.save-bttn {
  position: absolute;
  top: 30px;
  left: 32.5%;
  transform: translate(-50%, -50%);
}

@media (max-width: 844px) {

  .reset-bttn {
    position: absolute;
    top: 30px;
    left: 6%;
    transform: translate(-50%, -50%);
  }
  
  .add-node-bttn.show {
    position: absolute;
    top: 80px;
    left: 8.1%;
    transform: translate(-50%, -50%);
  }
  
  .add-node-bttn.hidden {
    position: absolute;
    top: 80px;
    left: 8.1%;
    transform: translate(-50%, -50%);
    background: red;  
  }
  
  
  .apply-rule-bttn {
    position: absolute;
    top: 131px;
    left: 8.3%;
    transform: translate(-50%, -50%);
  }

  .upload-file-bttn {
    position: absolute;
    top: 180px;
    left: 9.6%;
    transform: translate(-50%, -50%);
    min-width: 140px;
    max-width: 150px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .drop-area {
    position: absolute;
    top: 190px;
    left: 1.4%;
    border: 2px dashed #aaa;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 100px;
  }
  
}

.drop-area:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.drop-area p {
  font-size: 16px;
  color: #333;
}

.drop-area p:hover {
  color: #007bff;
}

.drop-area .uploaded-file {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}




